@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import 'styles/variables/all';
@import 'styles/global/all';
@import 'styles/layout';

// UI components
@import 'styles/components/mixins.scss';
@import 'styles/components/autocomplete.scss';
@import 'styles/components/card.scss';
@import 'styles/components/button.scss';
@import 'styles/components/input.scss';
@import 'styles/components/navbar.scss';
@import 'styles/components/spinner.scss';
@import 'styles/components/lists.scss';

:global {
  #app {
    background: #eff6fc;
  }

  .page-header {
    background: #d9e9f7;
  }

  .aside {
    .container {
      background: white;
    }
  }

  .main {
    .container {
    }
  }

  .page-footer {
    background: #d9e9f7;
  }
}
