:global {
  /* Displaying lists */
  .lists-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    &__title {
      font-size: 3rem;
    }
  }
  .lists-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-box {
    background: #041e36cc;
    color: $color__white;
    padding: 5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &__property {
      margin: 0.5rem 0;
    }
    &__title {
      font-family: 'Source Sans Pro';
      font-size: 2.5rem;
      font-weight: $font-weight__headings;
    }
    &__items-count {
      font-weight: $font-weight__headings;
    }
    &__updated {
      opacity: 0.5;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
    }
  }

  /* Displaying single list */
  .list {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
    &-info {
      width: 100%;
      background: #f3f3f3;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__item {
        margin: 1rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-movies {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__movies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    &-settings-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Settings dropdown */
    .settings-wrapper {
      position: relative;
      margin: 2rem;

      .list-settings__button {
        align-self: center;
        padding: 1rem 2rem;
        color: $color__white;
        font-weight: bold;
        border: none;
        background: #252525;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
      }
      .list-settings__button:active,
      .list-settings__button:hover {
        outline: none;
        background: #4b4747;
      }
      .list-settings__button:focus {
        outline: none;
      }

      .settings {
        position: absolute;
        padding-top: 1rem;
        top: 75%;
        right: -6%;
        z-index: $zindex__dropdown;

        &__arrow-up {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #181c1e;
          margin: auto;
        }

        &__list {
          background: #181c1e;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          align-content: center;
          list-style: none;

          &--item {
            white-space: nowrap;
            display: flex;
            justify-content: center;

            a {
              text-decoration: none;
              margin: 0.6rem;
              padding: 0.5rem 4rem;
              color: $color__white;
              cursor: pointer;
              background: none;
              border: none;
              width: 95%;
            }
            a:focus {
              outline: none;
            }
            a:hover {
              background: white;
              color: black;
            }
          }
        }
      }
    }
  }
  .movie-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.4s;
    width: 450px;
    &-top {
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    &-bottom {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      flex-grow: 1;
      h2 {
        font-weight: $font-weight__headings;
        color: #414345;
        text-align: center;
      }
      h5 {
        opacity: 0.5;
      }
      h3 {
        i {
          margin: 0 0.5rem;
          color: #ff690f;
        }
      }
      p {
        text-align: center;
        margin: 1rem;
      }
      &__comment {
        background: #ecf0f7;
        width: 100%;
        padding: 2rem 0;
        border-radius: 0 0 10px 10px;
        margin-top: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
        p {
          display: inline;
          flex-grow: 1;
          font-weight: $font-weight__headings;
          word-break: break-word;
        }
        &--edit {
          color: #ff690f;
          margin-right: 1rem;
          cursor: pointer;
          &:hover {
            color: #ff6b0f86;
          }
        }
        &--remove {
          position: absolute;
          top: 60%;
          right: 1%;
          color: #cc1616;
          cursor: pointer;
          &:hover {
            color: #ff0000;
          }
        }
      }
    }

    @include breakpoint-down(lg) {
      width: 350px;
    }
    @include breakpoint-down(md) {
      width: 300px;
    }
  }

  /* Create list form */
  .create-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;

    &-form {
      width: 20%;
    }

    @include breakpoint-down(xl) {
      .create-list-form {
        width: 30%;
      }
    }
    @include breakpoint-down(lg) {
      .create-list-form {
        width: 40%;
      }
    }

    @include breakpoint-down(md) {
      .create-list-form {
        width: 60%;
      }
    }

    @include breakpoint-down(sm) {
      .create-list-form {
        width: 80%;
      }
    }
  }
  .form-control {
    margin-bottom: 0.6rem;
    input,
    textarea {
      width: 100%;
      font: inherit;
      padding-left: 0.7rem;
      border: 3px solid #ccc;
    }
    textarea {
      padding-top: 0.7rem;
      resize: none;
    }
    input {
      height: 4rem;
    }
    input:focus,
    textarea:focus {
      outline: 3px solid #181c1e;
    }
  }

  .form-error {
    color: red;
    text-align: center;
    margin: 0.2rem auto;
    font-weight: $font-weight__headings;
  }
  .form-button {
    padding: 1rem 2rem;
    color: $color__white;
    font-weight: bold;
    border: none;
    background: #252525;
    cursor: pointer;

    &:hover,
    &:active {
      background: #c2ae96;
    }
  }
}
