:global {
  /* Displaying list of lists */
  .lists-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    .lists-container__title {
      font-size: 3rem;
    }
  }
  .lists-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-box {
    background: #081c24cc;
    color: $color__white;
    padding: 5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    .list-box__property {
      margin: 0.5rem 0;
    }
    .list-box__title {
      font-family: 'Source Sans Pro';
      font-size: 2.5rem;
      font-weight: $font-weight__headings;
    }
    .list-box__items-count {
      font-weight: $font-weight__headings;
    }
    .list-box__updated {
      opacity: 0.5;
    }
  }

  .list-box:hover {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
  }

  /* Displaying single list */
  .list {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .list-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
    .list-info {
      width: 100%;
      background: #f3f3f3;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .list-info__item {
        margin: 1rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .list-movies {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-top: 3rem;
      .list-movies__movies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  .movie-box {
    margin: 1rem 2rem;
    img {
      max-height: 350px;
    }
  }

  /* Create list form */
  .create-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
  }
  .create-list-form {
    width: 20%;
  }
  .form-control {
    margin-bottom: 0.6rem;
  }

  .form-control input,
  .form-control textarea {
    width: 100%;
    font: inherit;
    padding-left: 0.7rem;
    border: 3px solid #ccc;
  }
  .form-control textarea {
    padding-top: 0.7rem;
    resize: none;
  }
  .form-control input {
    height: 4rem;
  }
  .form-control input:focus,
  .form-control textarea:focus {
    outline: 3px solid #181c1e;
  }

  .form-button {
    padding: 1rem 2rem;
    color: $color__white;
    font-weight: bold;
    border: none;
    background: #252525;
    cursor: pointer;
  }

  .form-button:hover,
  .form-button:active {
    background: #c2ae96;
  }
  @include breakpoint-down(xl) {
    .create-list-form {
      width: 30%;
    }
  }
  @include breakpoint-down(lg) {
    .create-list-form {
      width: 40%;
    }
  }

  @include breakpoint-down(md) {
    .create-list-form {
      width: 60%;
    }
  }

  @include breakpoint-down(sm) {
    .create-list-form {
      width: 80%;
    }
  }
}
