:global {
  .paginator {
    margin: 3rem 0;
    .paginator-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .paginator-list__item {
      padding: 1rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: $font-weight__headings;
    }
    .paginator-list__item--first,
    .paginator-list__item--last {
      padding: 1rem;
    }
    .paginator-list__item:hover,
    .paginator-list__item.active {
      background: #3d3db3;
      color: $color__white;
    }
  }
}
