@mixin breakpoint-up($name, $breakpoints: $width__breakpoints) {
  $point_name: map-get($breakpoints, $name);
  @media (min-width: $point_name) {
    @content;
  }
}

@mixin breakpoint-down($name, $breakpoints: $width__breakpoints) {
  $point_name: map-get($breakpoints, $name);
  @media (max-width: $point_name - 1px) {
    @content;
  }
}

/* For each breakpoint, define the maximum width of the container in a media query */
@mixin make-container-max-widths(
  $max-widths: $width__container-max-widths,
  $breakpoints: $width__breakpoints
) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

:global {
  .page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
  }

  .page-header {
    flex: 0 0 auto;
  }

  .page-footer {
    flex: 0 0 auto;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @include breakpoint-up(lg) {
      flex-direction: row;
    }

    .aside {
      order: 1;

      @include breakpoint-up(lg) {
        flex: 0 0 300px;
      }
    }

    .main {
      flex-grow: 1;
      order: 2;
    }
  }

  .container {
    margin: 0 auto;
    @include make-container-max-widths();

    .content-wrapper {
      padding: $size__gutter;
    }
  }
}
